In [1]:
# 작업에 필요한 패키지 가져오기
from pyhive import hive
from sqlalchemy import create_engine
import numpy as np
import pandas as pd

In [2]:
# PyHive의 Hive 모듈을 이용하여 HiveServer2와 통신
conn = hive.Connection(
    host='hd02.pdmnu.com'
    , username='sweetbarrow'
    , database='mlens'
    , auth='NOSASL'
)
conn

In [3]:
mysql_cnx = create_engine('mysql+pymysql://root:<password>@pc.pdmnu.com:3306/mlens', echo=True)
mysql_cnx

Engine(mysql+pymysql://root:***@pc.pdmnu.com:3306/mlens)

In [4]:
movies_df = pd.read_sql('SELECT * FROM mlens.movies', conn)
movies_df

,movies.movieid,movies.title,movies.genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy|Drama
58094,175411,Surviving Sid (2008),Animation
58095,175413,Likes or Dislikes (2014),Comedy|Romance
58096,175415,But What If This Is Love? (1961),Drama|Romance
58097,175417,Puzzled Love (2010),Comedy|Romance

In [5]:
new_columns = {
      'movies.movieid': 'movie_id'
    , 'movies.title': 'title'
    , 'movies.genres': 'genres'
}

In [6]:
movies_df.rename(columns=new_columns, inplace=True)
movies_df

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy|Drama
58094,175411,Surviving Sid (2008),Animation
58095,175413,Likes or Dislikes (2014),Comedy|Romance
58096,175415,But What If This Is Love? (1961),Drama|Romance
58097,175417,Puzzled Love (2010),Comedy|Romance

In [7]:
# (no genres listed)로 등록된 장르값을 'NULL' 문자열로 대체
movies_df['genres'] = movies_df['genres'].replace({'(no genres listed)': 'NULL'})
movies_df

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy|Drama
58094,175411,Surviving Sid (2008),Animation
58095,175413,Likes or Dislikes (2014),Comedy|Romance
58096,175415,But What If This Is Love? (1961),Drama|Romance
58097,175417,Puzzled Love (2010),Comedy|Romance

In [8]:
# 입력되어있는 장르를 '|' 문자를 기준으로 분할하여 데이터프레임 생성, 빈 값은 'NULL' 문자열로 대체
movie_genre = movies_df['genres'].str.split('|', expand=True).fillna('NULL')
movie_genre

,0,1,2,3,4,5,6,7,8,9
0,Adventure,Animation,Children,Comedy,Fantasy,NULL,NULL,NULL,NULL,NULL
1,Adventure,Children,Fantasy,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3,Comedy,Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL
4,Comedy,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...
58093,Comedy,Drama,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58094,Animation,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58095,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58096,Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58097,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL

In [9]:
# 기존 영화 정보 데이터프레임에 변환된 장르 데이터프레임 연결
new_movies_df = pd.merge(movies_df, movie_genre, how='left', left_index=True, right_index=True)
new_movies_df

,movie_id,title,genres,0,1,2,3,4,5,6,7,8,9
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,Adventure,Animation,Children,Comedy,Fantasy,NULL,NULL,NULL,NULL,NULL
1,2,Jumanji (1995),Adventure|Children|Fantasy,Adventure,Children,Fantasy,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2,3,Grumpier Old Men (1995),Comedy|Romance,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,Comedy,Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL
4,5,Father of the Bride Part II (1995),Comedy,Comedy,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy|Drama,Comedy,Drama,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58094,175411,Surviving Sid (2008),Animation,Animation,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58095,175413,Likes or Dislikes (2014),Comedy|Romance,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58096,175415,But What If This Is Love? (1961),Drama|Romance,Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58097,175417,Puzzled Love (2010),Comedy|Romance,Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL

In [10]:
# 기존 장르 컬럼 삭제
del new_movies_df['genres']
new_movies_df

,movie_id,title,0,1,2,3,4,5,6,7,8,9
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NULL,NULL,NULL,NULL,NULL
1,2,Jumanji (1995),Adventure,Children,Fantasy,NULL,NULL,NULL,NULL,NULL,NULL,NULL
2,3,Grumpier Old Men (1995),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL
4,5,Father of the Bride Part II (1995),Comedy,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy,Drama,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58094,175411,Surviving Sid (2008),Animation,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58095,175413,Likes or Dislikes (2014),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58096,175415,But What If This Is Love? (1961),Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL
58097,175417,Puzzled Love (2010),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,NULL,NULL

In [11]:
genres_df = pd.read_sql('SELECT * FROM mlens.genres', conn)
genres_df

    genres.genre_id genres.genre_name
0                 0              NULL
1                 1            Action
2                 2         Adventure
3                 3         Animation
4                 4          Children
5                 5            Comedy
6                 6             Crime
7                 7       Documentary
8                 8             Drama
9                 9           Fantasy
10               10         Film-Noir
11               11            Horror
12               12              IMAX
13               13           Musical
14               14           Mystery
15               15           Romance
16               16            Sci-Fi
17               17          Thriller
18               18               War
19               19           Western

In [12]:
new_columns = {
      'genres.genre_id': 'genre_id'
    , 'genres.genre_name': 'genre_name'
}

In [13]:
genres_df.rename(columns=new_columns, inplace=True)
genres_df

    genre_id   genre_name
0          0         NULL
1          1       Action
2          2    Adventure
3          3    Animation
4          4     Children
5          5       Comedy
6          6        Crime
7          7  Documentary
8          8        Drama
9          9      Fantasy
10        10    Film-Noir
11        11       Horror
12        12         IMAX
13        13      Musical
14        14      Mystery
15        15      Romance
16        16       Sci-Fi
17        17     Thriller
18        18          War
19        19      Western

In [14]:
del genres_df['genre_id']
genres_df

     genre_name
0          NULL
1        Action
2     Adventure
3     Animation
4      Children
5        Comedy
6         Crime
7   Documentary
8         Drama
9       Fantasy
10    Film-Noir
11       Horror
12         IMAX
13      Musical
14      Mystery
15      Romance
16       Sci-Fi
17     Thriller
18          War
19      Western

In [15]:
# 장르 정보가 담긴 시리즈 객체를 데이터프레임으로 변환
new_genres_df = pd.DataFrame(columns=genres_df['genre_name'])
new_genres_df

Empty DataFrame
Columns: [NULL, Action, Adventure, Animation, Children, Comedy, Crime, Documentary, Drama, Fantasy, Film-Noir, Horror, IMAX, Musical, Mystery, Romance, Sci-Fi, Thriller, War, Western]
Index: []

In [16]:
# 기존 영화 테이블에 장르 데이터프레임 결합
movies_genres_df = pd.merge(new_movies_df, new_genres_df, how='left', left_index=True, right_index=True).fillna(0)
movies_genres_df

,movie_id,title,0,1,2,3,4,5,6,7,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure,Children,Fantasy,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy,Drama,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58094,175411,Surviving Sid (2008),Animation,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58095,175413,Likes or Dislikes (2014),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58096,175415,But What If This Is Love? (1961),Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58097,175417,Puzzled Love (2010),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0

In [17]:
# 로우 단위로 입력된 장르를 확인하여 장르명 컬럼에 1씩 추가
for rownum in range(len(movies_genres_df)):
    for col in range(0, 9):
        if movies_genres_df.loc[rownum][col] is not 'NULL':
            current_genre = movies_genres_df.loc[rownum][col]
            movies_genres_df.at[rownum, current_genre] += 1
movies_genres_df

,movie_id,title,0,1,2,3,4,5,6,7,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),Adventure,Animation,Children,Comedy,Fantasy,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),Adventure,Children,Fantasy,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),Comedy,Drama,Romance,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),Comedy,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),Comedy,Drama,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58094,175411,Surviving Sid (2008),Animation,NULL,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,0,0,0,0,0
58095,175413,Likes or Dislikes (2014),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,1,0,0,0,0
58096,175415,But What If This Is Love? (1961),Drama,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,1,0,0,0,0
58097,175417,Puzzled Love (2010),Comedy,Romance,NULL,NULL,NULL,NULL,NULL,NULL,...,0,0,0,0,0,1,0,0,0,0

In [18]:
# 불필요한 컬럼 삭제
movies_genres_df.drop(movies_genres_df.loc[:, range(0, 10)], axis=1, inplace=True)
movies_genres_df.drop(movies_genres_df.loc[:, ['NULL']].columns, axis=1, inplace=True)
movies_genres_df

,movie_id,title,Action,Adventure,Animation,Children,Comedy,Crime,Documentary,Drama,...,Film-Noir,Horror,IMAX,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
58094,175411,Surviving Sid (2008),0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58095,175413,Likes or Dislikes (2014),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
58096,175415,But What If This Is Love? (1961),0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
58097,175417,Puzzled Love (2010),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [19]:
new_columns = {
      'Movie ID': 'movie_id'
    , 'Title': 'title'
    , 'Action': 'action'
    , 'Adventure': 'adventure'
    , 'Animation': 'animation'
    , 'Children': 'children'
    , 'Comedy': 'comedy'
    , 'Crime': 'crime'
    , 'Documentary': 'documentary'
    , 'Drama': 'drama'
    , 'Fantasy': 'fantasy'
    , 'Film-Noir': 'film_noir'
    , 'Horror': 'horror'
    , 'IMAX': 'imax'
    , 'Musical': 'musical'
    , 'Mystery': 'mystery'
    , 'Romance': 'romance'
    , 'Sci-Fi': 'sci_fi'
    , 'Thriller': 'thriller'
    , 'War': 'war'
    , 'Western': 'western'
}

In [20]:
movies_genres_df.rename(columns=new_columns, inplace=True)
movies_genres_df

,movie_id,title,action,adventure,animation,children,comedy,crime,documentary,drama,...,film_noir,horror,imax,musical,mystery,romance,sci_fi,thriller,war,western
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,175409,Nicostratos the Pelican (2011),0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
58094,175411,Surviving Sid (2008),0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58095,175413,Likes or Dislikes (2014),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
58096,175415,But What If This Is Love? (1961),0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
58097,175417,Puzzled Love (2010),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [23]:
movies_genres_df.sort_values('movie_id', inplace=True, ignore_index=True)
movies_genres_df

,movie_id,title,action,adventure,animation,children,comedy,crime,documentary,drama,...,film_noir,horror,imax,musical,mystery,romance,sci_fi,thriller,war,western
0,1,Toy Story (1995),0,1,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,Jumanji (1995),0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,Grumpier Old Men (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,4,Waiting to Exhale (1995),0,0,0,0,1,0,0,1,...,0,0,0,0,0,1,0,0,0,0
4,5,Father of the Bride Part II (1995),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58093,193876,The Great Glinka (1946),0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58094,193878,Les tribulations dune caissière (2011),0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
58095,193880,Her Name Was Mumu (2016),0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
58096,193882,Flora (2017),0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,1,0,0,0
58097,193886,Leal (2018),1,0,0,0,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0

In [24]:
movies_genres_df.to_sql('movies_genres_onehot', mysql_cnx, if_exists='append', index=False)

2020-06-01 18:07:10,312 INFO sqlalchemy.engine.base.Engine DESCRIBE `movies_genres_onehot`
2020-06-01 18:07:10,313 INFO sqlalchemy.engine.base.Engine {}
2020-06-01 18:07:10,324 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2020-06-01 18:07:11,375 INFO sqlalchemy.engine.base.Engine INSERT INTO movies_genres_onehot (movie_id, title, action, adventure, animation, children, comedy, crime, documentary, drama, fantasy, film_noir, horror, imax, musical, mystery, romance, sci_fi, thriller, war, western) VALUES (%(movie_id)s, %(title)s, %(action)s, %(adventure)s, %(animation)s, %(children)s, %(comedy)s, %(crime)s, %(documentary)s, %(drama)s, %(fantasy)s, %(film_noir)s, %(horror)s, %(imax)s, %(musical)s, %(mystery)s, %(romance)s, %(sci_fi)s, %(thriller)s, %(war)s, %(western)s)
2020-06-01 18:07:11,376 INFO sqlalchemy.engine.base.Engine ({'movie_id': 1, 'title': 'Toy Story (1995)', 'action': 0, 'adventure': 1, 'animation': 1, 'children': 1, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 1, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 2, 'title': 'Jumanji (1995)', 'action': 0, 'adventure': 1, 'animation': 0, 'children': 1, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 1, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 3, 'title': 'Grumpier Old Men (1995)', 'action': 0, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 1, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 4, 'title': 'Waiting to Exhale (1995)', 'action': 0, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 1, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 1, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 5, 'title': 'Father of the Bride Part II (1995)', 'action': 0, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 6, 'title': 'Heat (1995)', 'action': 1, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 0, 'crime': 1, 'documentary': 0, 'drama': 0, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 1, 'war': 0, 'western': 0}, {'movie_id': 7, 'title': 'Sabrina (1995)', 'action': 0, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 1, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 1, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 8, 'title': 'Tom and Huck (1995)', 'action': 0, 'adventure': 1, 'animation': 0, 'children': 1, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 0, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0}  ... displaying 10 of 58098 total bound parameter sets ...  {'movie_id': 193882, 'title': 'Flora (2017)', 'action': 0, 'adventure': 1, 'animation': 0, 'children': 0, 'comedy': 0, 'crime': 0, 'documentary': 0, 'drama': 1, 'fantasy': 0, 'film_noir': 0, 'horror': 1, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 1, 'thriller': 0, 'war': 0, 'western': 0}, {'movie_id': 193886, 'title': 'Leal (2018)', 'action': 1, 'adventure': 0, 'animation': 0, 'children': 0, 'comedy': 0, 'crime': 1, 'documentary': 0, 'drama': 1, 'fantasy': 0, 'film_noir': 0, 'horror': 0, 'imax': 0, 'musical': 0, 'mystery': 0, 'romance': 0, 'sci_fi': 0, 'thriller': 0, 'war': 0, 'western': 0})
2020-06-01 18:07:13,845 INFO sqlalchemy.engine.base.Engine COMMIT